:root {
  /* --color-primario: #b9ff66; */
  --color-primario: #8a243e;
  --color-secundario: #191a23;
  --gray-color: #f3f3f3;
  --padding-container: 80px 0;
}
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

body,
input,
textarea,
button {
  font-family: "Space Grotesk", sans-serif;
}

body {
  min-height: 100dvh;
  display: flex;
  align-items: flex-end;
}

.footer {
  width: 100%;
  background-color: var(--color-secundario);
}

.footer__content {
  padding: 80px 0;
  width: min(90%, 1200px);
  margin: 0 auto;
  overflow: hidden;
}

.footer__main {
  display: grid;
  gap: 1.5rem;
  justify-content: center;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.footer__link {
  color: #fff;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__copy {
  justify-self: center;
  background-color: var(--color-primario);
  color: var(--color-secundario);
  font-weight: 500;
  padding: 4px;
  border-radius: 6px;
}

.footer__contact {
  max-width: 250px;
  display: grid;
  gap: 1.3rem;
  text-align: center;
}

.footer__newsletter {
  width: min(100%, 400px);
  padding: 2rem 1.5rem;
  background-color: #292a32;
  border-radius: 10px;
  display: grid;
  gap: 1rem;
  grid-template-rows: 48px 48px;
}

.footer__email {
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 0 1.5rem;
  background-color: transparent;
  color: #fff;
}

.footer__email::placeholder {
  color: #fff;
}

.footer__submit {
  background-color: var(--color-primario);
  color: var(--color-secundario);
  border: none;
  font-weight: 500;
  border-radius: 6px;
}

.footer__social {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}

.footer__social-links {
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__copyright {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 2px solid #fff;
}

.footer__copyright-text {
  text-align: center;
  color: #fff;
}

@media (width >= 900px) {
  /** Foooter **/

  .footer {
    background-color: #fff;
  }

  .footer__content {
    border-radius: 30px 30px 0 0;
    background-color: #191a23;
  }

  .footer__main {
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 1fr 55% 1fr;
    grid-template-areas:
      "logo links media"
      "contact news news";
    justify-items: start;
  }

  .footer__links {
    grid-area: links;

    width: 100%;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer__copy {
    justify-self: start;
    margin-top: 0;
  }

  .footer__contact {
    grid-area: contact;

    text-align: left;
    max-width: 300px;
  }

  .footer__newsletter {
    grid-area: news;
    align-self: center;
    justify-self: end;
  }

  .footer__email {
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 0 1.5rem;
    background-color: transparent;
    color: white;
  }

  .footer__email::placeholder {
    color: white;
  }

  .footer__submit {
    background-color: #b9ff66;
    color: black;
    border: none;
    border-radius: 6px;
  }

  .footer__social {
    grid-area: media;
    justify-self: end;
  }

  .footer__copyright {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__logo-link {
    grid-area: logo;
  }
}
